body{
     font-family: 'Poppins', sans-serif;
     box-sizing: border-box;
}
h1{
     font-size:50px;
}
.name{
     color:orange;
}
#first-box{
     height:200px;
}
.first-div{
     width:50%;
     float:left;
}
.first-div p{
     text-align: justify;
}
.first-div button{

}
.second-div{
     width:50%;
     float:right;
}
.second-div img{
     height:400px;
     width:400px;
     border-radius:60px;
     margin-left:90px;
     margin-top:50px;
}